<div class="container-fluid set-width">
    <div class="row">
        <div class="col-lg-12 col-md-12 mgb-22">
            <span class="mglr-10">
                <app-breadcrumb [propertiesList]="breadcumData"></app-breadcrumb>
            </span>
        </div>
    </div>
    <mat-card class="widget-card widget">
        <mat-card-header class="widget-header">
            <mat-card-title>
                <div class="widget-header-controls">
                    <span class="widget-title">Hospital Data</span>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="dataSource?.length>0">
                <button (click)="sortData()" class="sc-red-bg-btn sc-toggle-btn-height">
                    <span class="toggelText">Sort by Hospital Name</span>
                </button>
            </div>
            <div *ngIf="dataSource?.length>0" class="table-container">
                <table mat-table [dataSource]="dataSource" class="stockTable">
                    <ng-container *ngFor="let columnName of displayedColumns" [matColumnDef]="columnName">
                        <th class="table-header" mat-header-cell *matHeaderCellDef> {{columnName}} </th>
                        <ng-container>
                            <td mat-cell *matCellDef="let element;let i=index">
                                <ng-container *ngIf="columnName == 'contactnumber' || columnName == 'hospitalname'">
                                    {{element[columnName]}}
                                </ng-container>
                                <ng-container *ngIf="columnName == 'View'">
                                    <span (click)="navigateTo(i)" class="navigate">View</span>
                                </ng-container>
                                <ng-container *ngIf="columnName == 'Edit'">
                                    <span class="cursor-pointer" (click)="editData(i)">
                                        <img src="../../../assets/images/edit.svg">
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="columnName == 'Delete'">
                                    <span class="cursor-pointer" (click)="deleteData(i)">
                                        <img src="../../../assets/images/delete_black.svg">
                                    </span>
                                </ng-container>
                            </td>
                        </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div *ngIf="dataSource?.length==0" class="no-data-found">
                <span class="no-data-found-text">No Data Hospital Data Found !</span>
            </div>
            <ng-container *ngIf="hospitalEditFromFlag">
                <form [formGroup]="hospitalForm">
                    <div class="input-form">
                        <div class="row">
                            <div class="col-md-12">
                                <input style="width: 190px;height: 30px;" class="form-control" type="text"
                                    placeholder="Enter Hospital Name" formControlName="hospitalname">
                            </div>
                            <span class="error-text"
                                *ngIf="hospitalname.hasError('required') && hospitalname.touched">Hospital Name is
                                required</span>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <input style="width: 190px;height: 30px;" class="form-control" type="text"
                                    placeholder="Enter Phone Number" formControlName="contactnumber">
                            </div>
                            <span class="error-text"
                                *ngIf="hospitalForm.controls['contactnumber'].hasError('pattern') && !contactnumber.hasError('required')">
                                Please Enter a valid phone number
                            </span>
                            <span class="error-text"
                                *ngIf="contactnumber.hasError('required') && contactnumber.touched">Contact Number is
                                required</span>
                        </div>
                        <div class="row">
                            <div class="col-md-12 formButtons">
                                <button (click)='discard()' class="sc-red-bg-btn sc-toggle-btn-height">
                                    <span class="toggelText">Discard</span>
                                </button>
                                <button (click)='saveHospitalData()' [disabled]="hospitalForm.invalid"
                                    class="sc-red-bg-btn sc-toggle-btn-height">
                                    <span class="toggelText">Save</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>